.top-section{
    width: 98vw;
    height: 200px;
    border: 1px solid black;
}

.use{
    margin-left: 10px;
}

#underline-1, #underline-2, #underline-3 {
    text-decoration: underline;
}
.no-underline{
    text-decoration: none;
}